@{
    ViewData["Title"] = "Услуги";
}
<center><h1>@ViewData["Title"]</h1> </center>
<hr />
<div class="grid-cols">
    <div class="col one-third text-align-center">
        <p><img src="https://aiko-bg.com/media/opakovane-podaruci.jpg" alt=""></p>
    </div>
    <div id="ushivane-zavesi" class="col one-half text-align-center">
        <p style="font-weight: bold; text-align: left;">Опаковане на подаръци</p>
        <p style="text-align: justify;"><span lang="bg-BG">За да направите подаръка си неповторим и оригинален, ние ще го опаковаме за Вас! Опаковането на подаръци се извършва само за стоки, закупени от </span>A<span lang="bg-BG">iko. Не се извършва опаковане на мебели.</span></p>
    </div>
</div>
<hr />
<div class="grid-cols">
    <div class="col one-third text-align-center">
        <p><img src="https://aiko-bg.com/media/montaj-kornici.jpg" alt=""></p>
    </div>
    <div id="ushivane-zavesi" class="col one-half text-align-center">
        <p style="font-weight: bold; text-align: left;">Монтаж</p>
        <p style="text-align: justify;"><span lang="bg-BG">Нашите монтажници ще монтират Вашите продукти коректно, компетентно и професионално. Повече информация можете да получите от нашите консултанти в магазините ни.</span></p>
    </div>
</div>
<hr />
<div class="grid-cols">
    <div class="col one-third text-align-center">
        <p><img src="https://aiko-bg.com/media/iznasqne-mebeli.jpg" alt=""></p>
    </div>
    <div id="ushivane-zavesi" class="col one-half text-align-center">
        <p style="font-weight: bold; text-align: left;">Изнасяне на стари мебели</p>
        <p style="text-align: justify;"><span lang="bg-BG">Вече не е необходимо да мислите какво ще правите с Вашите стари мебели. Ние поемаме грижата да ги изнесем от дома Ви и да ги депонираме на специализираните за това места. Единственото, което трябва да направите е, да ни уведомите при поръчката. Вижте цени </span></p>
    </div>
    </div>
<hr />
<div class="grid-cols">
    <div class="col one-third text-align-center">
        <p><img src="https://aiko-bg.com/media/banners/category/vaucher-podaruk_01n.jpg" alt=""></p>
    </div>
    <div class="col one-half text-align-center">
        <p id="ushivane-zavesi" style="font-weight: bold; text-align: left;">Ваучер подарък</p>
        <p style="text-align: justify;"><span lang="bg-BG">Удобство за Вас, приятна изненада за любимите Ви хора! Зарадвайте близките и приятелите си! Подарете им елегантна изненада, с която биха могли да изберат сами своя подарък! Повече информация потърсете на касите във всички наши магазини.</span></p>
    </div>
</div>
<form >
    <a asp-action="Index">Назад</a>
</form>