@{
    ViewData["Title"] = "Услуги";
}
<center><h1>@ViewData["Title"]</h1> </center>
    <section class="p-md-3 mx-md-5 text-center text-lg-left">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="p-4">
                    <div class="avatar w-100 white d-flex justify-content-center align-items-center">
                        <img src="~/images/Mechanical.png"
                             class="img-fluid rounded-circle z-depth-1" />
                    </div>
                    <div class="text-center mt-3">
                        <h6 class="font-weight-bold pt-2">Монтаж</h6>
                        <p class="text-muted">
                            <small>
                                <i>Нашите монтажници ще монтират Вашите корнизи коректно, компетентно и професионално. Повече информация можете да получите от нашите консултанти в магазините ни.</i>
                            </small>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="p-4">
                    <div class="avatar w-100 white d-flex justify-content-center align-items-center">
                        <img src="~/images/oldf.png"
                             class="img-fluid rounded-circle z-depth-1" />
                    </div>
                    <div class="text-center mt-3">
                        <h6 class="font-weight-bold pt-2">Стари мебели</h6>
                        <p class="text-muted">
                            <small>
                                <i>Вече не е необходимо да мислите какво ще правите с Вашите стари мебели. Ние поемаме грижата да ги изнесем от дома Ви и да ги депонираме на специализираните за това места.</i>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="p-4">
                    <div class="avatar w-100 white d-flex justify-content-center align-items-center">
                        <img src="~/images/coupon.png"
                             class="img-fluid rounded-circle z-depth-1" />
                    </div>
                    <div class="text-center mt-3">
                        <h6 class="font-weight-bold pt-2">Ваучер подарък</h6>
                        <p class="text-muted">
                            <small>
                                <i>Приятна изненада за любимите Ви хора! Подарете им елегантна изненада, с която биха могли да изберат сами своя подарък!Повече информация потърсете на касите във всички наши магазини.</i>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<form>
   <a asp-action="Index">Назад</a>
</form>
