@{
    ViewData["Title"] = "Информация за сайта";
}
<center><h1>@ViewData["Title"]</h1> </center>
    <hr />
<br />
    <div class="bg-light">
        <div class="container py-5">
            <div class="row h-100 align-items-center py-5">
                <div class="col-lg-6">
                    <h1 class="display-4">Нашата компания</h1>
                    <br />
                    <br />
                    <p class="lead text-muted mb-0">Фирма "Мебелна Мания" ЕООД е създадена през 2023 година в град Перник.</p>
                    <p class="lead text-muted">
                        Тук в онлайн магазина имате възможността да закупите продукти от нова и модерна колекция.
                        Приоритет на фирмата е да създава уют, хармония и красота на разумни цени.Всички артикули са с доказано качество.
                    </p>
                </div>
                <div class="col-lg-6 d-none d-lg-block"><img src="https://media.cnn.com/api/v1/images/stellar/prod/220513121714-burrow-vesper.jpg?c=16x9&q=h_720,w_1280,c_fill" hight="1100" width="1100" alt="" class="img-fluid"></div>
            </div>
        </div>
    </div>
